# Replace with the IP address of your Hue bridge
# alternately execute hue.sh autoconfig
BRIDGE=
# get Username (http://www.developers.meethue.com/documentation/getting-started)
# press button and then execute command
# curl -s -X POST -d '{"devicetype":"hue_script"}'  http://$BRIDGE/api/ '.[0] | jq -r .error.description + .success.username'
USER=
